@layer components {
  .navbar:hover .user_menu .menu-icon {
    display: block;
  }

  .user_menu .menu-icon {
    @apply ml-4;
    transform: rotate(-90deg);
    transition: 600ms;
  }

  .user_menu.open .menu-name {
    @apply bg-gray-900;
    filter: grayscale(0%) opacity(1);
  }

  .user_menu.open .menu-icon {
    transform: rotate(-270deg);
  }
}