<div
  class="flex flex-no-wrap overflow-x-auto"
  data-controller="column-index--component"
  data-column-index--component-url-value="<%= move_task_path(':id') %>"
>
  <% @columns.each do |column| %>
    <%= component :column, column: column %>
  <% end %>
</div>