@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

@font-face {
    font-family: 'GuardianTitlepieceWeb-Regular-Latin';
    src: url('../fonts/GuardianTitlepieceWeb-Regular.woff');
}

@font-face {
    font-family: 'Guardian-Text-Egyp-Web-Reg-Latin';
    src: url('../fonts/GuardianEgypWeb-Light.woff')
}