@layer components {
  .navbar {
    transition: width 600ms ease;
  }

  .navbar--logo {
    letter-spacing: 0.3ch;
  }

  .navbar--logo svg {
    transform: rotate(0deg);
    transition: 600ms;
  }

  .navbar:hover .navbar--logo svg {
    transform: rotate(-180deg);
  }

  .navbar:hover .navbar--text {
    display: inline;
  }
}